<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer-content">
    <footer class="footer text-right">
        [[${props.yearNow}]] © <a th:href="@{//github.com/hetao1995/ink}" target="_blank">Ink Blog</a>
    </footer>
</div>
<body th:fragment="footer">
<script th:src="${props.getCdnUrl('/plugins/jquery/3.2.1/jquery.min.js')}"></script>
<script th:src="${props.getCdnUrl('/plugins/bootstrap/3.3.7/js/bootstrap.min.js')}"></script>
<script th:src="${props.getCdnUrl('/plugins/md5/md5.min.js')}"></script>
<script th:src="${props.getCdnUrl('/plugins/dashborad/detect.js')}"></script>
<script th:src="${props.getCdnUrl('/plugins/dashborad/fastclick.js')}"></script>
<script th:src="${props.getCdnUrl('/plugins/dashborad/wow.min.js')}"></script>
<script th:src="${props.getCdnUrl('/plugins/dashborad/jquery.slimscroll.js')}"></script>
<script th:src="${props.getCdnUrl('/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js')}"></script>
<script th:src="${props.getCdnUrl('/plugins/axios/axios.min.js')}"></script>
<script th:src="${props.getCdnUrl('/plugins/vue/vue.min.js')}"></script>
<script th:src="${props.getCdnUrl('/plugins/moment/moment.min.js')}"></script>
<script th:src="${props.getCdnUrl('/plugins/vue-loading/vue-loading.min.js')}"></script>
<script th:src="${props.getCdnUrl('/plugins/dashborad/jquery.app.js')}"></script>
<script th:src="${props.getCdnUrl('/js/base.js')}"></script>
</body>
</html>