<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.itao.ink.dao.ContentMetaMapper" >
  <resultMap id="BaseResultMap" type="xyz.itao.ink.domain.entity.ContentMeta" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="active" property="active" jdbcType="BIT" />
    <result column="content_id" property="contentId" jdbcType="BIGINT" />
    <result column="meta_id" property="metaId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, deleted, active, content_id, meta_id, create_time, update_time, create_by, update_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from content_metas
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="countContentsByMetaId" resultType="java.lang.Integer">
      select count(1)
      from content_metas
      where meta_id = #{metaId,jdbcType=BIGINT}
    </select>
  <select id="selectAllContentIdByMetaId" resultType="java.lang.Long">
    select content_id
    from content_metas
    where meta_id = #{metaId,jdbcType=BIGINT}
  </select>
    <select id="selectByContentIdAndMetaId" resultType="xyz.itao.ink.domain.entity.ContentMeta">
      select
      <include refid="Base_Column_List"/>
      from content_metas
      where
      content_id = #{contentId,jdbcType=BIGINT} and
      meta_id = #{metaId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from content_metas
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="xyz.itao.ink.domain.entity.ContentMeta" >
    insert into content_metas
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="active != null" >
        active,
      </if>
      <if test="contentId != null" >
        content_id,
      </if>
      <if test="metaId != null" >
        meta_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="active != null" >
        #{active,jdbcType=BIT},
      </if>
      <if test="contentId != null" >
        #{contentId,jdbcType=BIGINT},
      </if>
      <if test="metaId != null" >
        #{metaId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.itao.ink.domain.entity.ContentMeta" >
    update content_metas
    <set >
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="active != null" >
        active = #{active,jdbcType=BIT},
      </if>
      <if test="contentId != null" >
        content_id = #{contentId,jdbcType=BIGINT},
      </if>
      <if test="metaId != null" >
        meta_id = #{metaId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>