<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.itao.ink.dao.LinkMapper" >
  <resultMap id="BaseResultMap" type="xyz.itao.ink.domain.entity.Link" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="active" property="active" jdbcType="BIT" />
    <result column="author_id" property="authorId" jdbcType="BIGINT" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="file_key" property="fileKey" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, deleted, active, author_id, file_name, file_type, file_key, create_time, update_time, 
    create_by, update_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from links
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectByNoNulProperties" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from links
      where
      <trim  suffixOverrides="and" >
      <if test="id != null" >
        id = #{id,jdbcType=BIGINT} and
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT} and
      </if>
      <if test="active != null" >
        active = #{active,jdbcType=BIT} and
      </if>
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=BIGINT} and
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR} and
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=VARCHAR} and
      </if>
      <if test="fileKey != null" >
        file_key = #{fileKey,jdbcType=VARCHAR} and
      </if>
      </trim>
    </select>
  <select id="countLink" resultType="java.lang.Long">
    SELECT count(1)
    FROM links
    WHERE deleted = false
  </select>

  <insert id="insertSelective" parameterType="xyz.itao.ink.domain.entity.Link" >
    insert into links
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="active != null" >
        active,
      </if>
      <if test="authorId != null" >
        author_id,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="fileKey != null" >
        file_key,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="active != null" >
        #{active,jdbcType=BIT},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileKey != null" >
        #{fileKey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.itao.ink.domain.entity.Link" >
    update links
    <set >
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="active != null" >
        active = #{active,jdbcType=BIT},
      </if>
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileKey != null" >
        file_key = #{fileKey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>