<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/partial/header::header(${keyword},null, null)"></div>
<body>
<div class="main-content common-page clearfix">
    <div class="categorys-item">
        <div class="common-title">
            <th:block th:text="${type}"/> : <th:block th:text="${keyword}"/>
        </div>
        <th:block th:if="${articles.size==0}">
            <div>
                <p>抱歉，还没有相关文章.</p>
            </div>
        </th:block>
        <th:block th:unless="${articles.size==0}">
            <div class="post-lists">
                <div class="post-lists-body">
                    <th:block th:each="article : ${articles.list}">
                        <div class="post-list-item">
                            <div class="post-list-item-container ">
                                <div class="item-label ">
                                    <div class="item-title">
                                        <a th:href="${article.permalink}" th:text="${article.title}"></a>
                                    </div>
                                    <div class="item-meta clearfix">
                                        <div th:class="'item-meta-ico '+${article.icon} "
                                             th:style="'background: url('+@{/themes/default/static/img/bg-ico.png}+') no-repeat;background-size: 40px auto;'"></div>
                                        <div class="item-meta-date">发布于 <th:block th:text="${article.createdFmt}"/></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </th:block>
    </div>
    <div class="lists-navigator clearfix">
        <div th:replace="comm/macros::pageNav(${articles},'←','→',${is_tag}? 'tag/'+${keyword}: 'category/'+${keyword})"></div>
    </div>
</div>
</body>
<div th:replace="themes/default/partial/footer::footer"></div>
</html>