<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/partial/header::header(${article.title},${article.tags}, null)"></div>
<body>
<article class="main-content page-page" itemscope="" itemtype="http://schema.org/Article">
    <div class="post-header">
        <h1 class="post-title" itemprop="name headline">
            <a th:href="${article.permalink}" th:text="${article.title}" ></a>
        </h1>
        <div class="post-data">
            <time th:datetime="${article.createdFmt}" itemprop="datePublished" th:text="'发布于 '+ ${article.createdFmt}"></time>
            / <th:block th:utext="${article.categoriesHtml}"/> / <a href="#comments" th:text="${article.commentsNum ?: 0}+' 条评论'"></a> /
            <th:block th:text="${article.hits}"/>浏览
        </div>
    </div>
    <div id="post-content" class="post-content" itemprop="articleBody">
        <p class="post-tags" th:utext="${article.tagsHtml}"></p>
        <th:block th:utext="${article.contentHtml}"/>
        <p class="post-info">
            本文由 <a th:href="${article.author.homeUrl}" th:text="${article.author.displayName}"></a> 创作，采用
            <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="external nofollow">知识共享署名4.0</a>
            国际许可协议进行许可<br/>本站文章除注明转载/出处外，均为本站原创或翻译，转载前请务必署名<br/>最后编辑时间为:
            <th:block th:text="${article.modifiedFmt}"/>
        </p>
    </div>
</article>
<div id="post-bottom-bar" class="post-bottom-bar">
    <div class="bottom-bar-inner">
        <div class="bottom-bar-items social-share left">
            <span class="bottom-bar-item">Share : </span>
            <span class="bottom-bar-item bottom-bar-facebook"><a th:href="|https://www.facebook.com/sharer/sharer.php?u=${article.permalink}|" target="_blank" th:title="${article.title}" rel="nofollow">facebook</a></span>
            <span class="bottom-bar-item bottom-bar-twitter"><a th:href="|https://twitter.com/intent/tweet?url=${article.permalink}&text=${article.title}|" target="_blank" th:title="article.title" rel="nofollow">Twitter</a></span>
            <span class="bottom-bar-item bottom-bar-weibo"><a th:href="|http://service.weibo.com/share/share.php?url=${article.permalink}&amp;title=${article.title}|" target="_blank" th:title="article.title" rel="nofollow">Weibo</a></span>
            <span class="bottom-bar-item bottom-bar-qrcode"><a th:href="|https://cli.im/api/qrcode/code?text=${article.permalink}&mhid=50eWDQu6nc0hMHcrKtNXPKo|" target="_blank" rel="nofollow">QRcode</a></span>
        </div>
        <div class="bottom-bar-items right">
            <span class="bottom-bar-item" th:if="${article.prev}"><a th:href="${article.prev.permalink}" th:title="${article.prev.title}">→</a> </span>
            <span class="bottom-bar-item" th:if="${article.next}"><a th:href="${article.next.permalink}" th:title="${article.next.title}">←</a> </span>
            <span class="bottom-bar-item"><a href="#footer" title="转到底部">↓</a></span>
            <span class="bottom-bar-item"><a href="#" title="转到顶部">↑</a></span>
        </div>
    </div>
</div>
<div th:replace="themes/default/partial/comments::comments"></div>
<div th:replace="themes/default/partial/footer::footer"></div>
</body>
</html>