<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<body>
<div th:fragment="comments" th:if="${article!=null and article.status=='publish'} ">
    <div th:if="${article}!=null">
            <div th:id="${article.id ?: 0}" class="comment-container">
                <div id="comments" class="clearfix">
                    <div th:if="${article.allowComment}">
                    <span class="response">
                    <th:block th:if="${login_user}">
                        Hi，<a th:href="${login_user.homeUrl}" data-no-instant=""
                              th:text="${login_user.displayName}"></a>
                        如果你想 <a href="/logout" title="注销" data-no-instant="">注销</a> ?
                    </th:block>
                </span>
                        <form method="post" id="comment-form" class="comment-form" role="form"
                              onsubmit="return TaleComment.subComment();">
                            <input type="hidden" name="parentId" id="parentId"/>
                            <input type="hidden" name="contentId" id="contentId" th:value="${article.id}"/>
                            <!--<input type="hidden" name="_csrf_token" th:value="${_csrf_token}"/>-->
                            <th:block th:unless="${login_user}">
                                <input type="text" name="author" maxlength="12" id="author"
                                       class="form-control input-control clearfix"
                                       placeholder="姓名 (*)"
                                />
                                <input type="email" name="mail" id="mail" class="form-control input-control clearfix"
                                       placeholder="邮箱 (*)"
                                />
                                <input type="url" name="url" id="url" class="form-control input-control clearfix"
                                       placeholder="网址 (http://)"
                                />
                            </th:block>
                            <textarea name="content" id="textarea" class="form-control" placeholder="基佬，留下你的评论!"
                                      required="required" minlength="5"
                                      maxlength="2000"></textarea>
                            <button type="submit" class="submit" id="misubmit">提交</button>
                        </form>
                    </div>
                    <div th:unless="${article.allowComment}">
                        <span class="response">评论已关闭.</span>
                    </div>

                    <div th:if="${comments}">
                        <ol class="comment-list">
                            <th:block th:each="comment :${comments.list}">
                                <li th:if="${comment.status}=='approved'" th:id="'li-comment-'+${comment.id}" class="comment-body comment-parent comment-odd">
                                    <div th:id="'comment-'+${comment.id}">
                                        <div class="comment-view" onclick="">
                                            <div class="comment-header">
                                                <!--设置get请求的参数-->
                                                <img class="avatar"
                                                     th:src="@{${comment.author.gravatar}(s='80',r='G',d='')}"
                                                     th:title="${comment.author.displayName}"
                                                     width="80" height="80"/>
                                                <span class="comment-author">
                                                    <a th:href="${comment.author.homeUrl}" rel="external nofollow"
                                                       th:text="${comment.author.displayName}"></a>
                                                </span>
                                            </div>
                                            <div class="comment-content">
                                                <span class="comment-author-at"></span>
                                                <p th:utext="${comment.contentHtml}"></p>
                                            </div>
                                            <div class="comment-meta">
                                                <time class="comment-time" th:text="${comment.createdFmt}"></time>
                                                <span class="comment-reply">
                                                    <a rel="nofollow" th:onclick="|TaleComment.reply(`${comment.id}`);|">回复</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <th:block th:unless="${comment.children.isEmpty()}">
                                        <div class="comment-children">
                                            <ol class="comment-list">
                                                <th:block th:each="child: ${comment.children}">
                                                    <li th:id="|li-comment-${child.id}|"
                                                        class="comment-body comment-child comment-level-odd comment-odd">
                                                        <div th:id="|comment-${child.id}|">
                                                            <div class="comment-view">
                                                                <div class="comment-header">
                                                                    <img class="avatar" th:src="|${child.author.gravatar}?s=80&r=G&d=|" th:title="${child.author.displayName}" width="80" height="80">
                                                                    <span class="comment-author comment-by-author">
                                                                        <a th:href="${child.author.homeUrl}" target="_blank" rel="external nofollow" th:text="${child.author.displayName}"></a>
                                                                    </span>
                                                                </div>
                                                                <div class="comment-content">
                                                                    <span class="comment-author-at" >
                                                                        <a th:href="|#comment-${child.parentId}|" th:text="|@ ${child.parent.author.displayName}|"></a>
                                                                    </span>
                                                                    <p th:utext="${child.contentHtml}"></p>
                                                                </div>
                                                                <div class="comment-meta">
                                                                    <time class="comment-time" th:text="${child.createdFmt}"></time>
                                                                    <span class="comment-reply">
                                                                        <a rel="nofollow" th:onclick="|TaleComment.reply(`${child.id}`);|">回复</a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </th:block>
                                            </ol>
                                        </div>
                                    </th:block>
                                </li>
                            </th:block>
                        </ol>
                        <div class="lists-navigator clearfix">
                            <ol class="page-navigator">
                                <th:block th:if="${comments.hasPreviousPage}">
                                    <li class="prev"><a th:href="'?cp='+${comments.prePage}+'#comments'">←</a></li>
                                </th:block>
                                <th:block th:each="navIndex : ${comments.navigatepageNums}">
                                    <li th:class="${comments.pageNum}==${navIndex}?'current':''"><a
                                            th:href="'?cp='+${navIndex}+'#comments'" th:text="${navIndex}"></a>
                                    </li>
                                </th:block>
                                <th:block th:if="${comments.hasNextPage}">
                                    <li class="next"><a th:href="'?cp='+${comments.nextPage}+'#comments'">→</a></li>
                                </th:block>
                            </ol>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div th:replace="comm/tale_comment::tale_comment"></div>
</div>
</body>
</html>