
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="social">
<div class="social-list" th:fragment="social-list">


    <th:block th:if="${social_weibo}">
        <a class="social weibo" target="blank"
           th:href="|http://weibo.com/${social_weibo}|">微博</a>
    </th:block>
    <th:block th:if="${social_zhihu}">
        <a class="social zhihu" target="blank"
           th:href="|https://www.zhihu.com/people/${social_zhihu}"|>知乎</a>
    </th:block>
    <a class="social rss" target="blank" href="/feed">RSS</a>
    <th:block th:if="${social_github}">
        <a class="social github" target="blank"
           th:href="|https://github.com/${social_github}|">Github</a>
    </th:block>
    <th:block th:if="${social_twitter}">
        <a class="social twitter" target="blank"
           th:href="|https://twitter.com/${social_twitter}|">Twitter</a>
    </th:block>


</div>