
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="social">
<div class="social-list" th:fragment="social-list">
    <th:block th:each="index:${commons.social()}">
        <th:block th:if="${index.value}!=null and ${index.value}!=''">
            <th:block th:switch="${index.key}">
                <th:block th:case="'weibo'">
                    <a class="social weibo" target="blank"
                       th:href="@{${index.value}}">微博</a>
                </th:block>
                <th:block th:case="'zhihu'">
                    <a class="social zhihu" target="blank"
                       th:href="@{${index.value}}">知乎</a>
                </th:block>
                <a class="social rss" target="blank" href="/feed">RSS</a>
                <th:block th:case="'github'">
                    <a class="social github" target="blank"
                       th:href="@{${index.value}}">Github</a>
                </th:block>
                <th:block th:case="'twitter'">
                    <a class="social twitter" target="blank"
                       th:href="@{${index.value}}">Twitter</a>
                </th:block>
            </th:block>
        </th:block>
    </th:block>
</div>